.home-banner {
  width: $w-full;
  .banner-category {
    height: $h-10 * 3.5;
    background: $bg-white;
    box-shadow: 0 0 5px $bg-slate;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
    &::after {
      content: "";
      width: $w-10 * 2;
      height: $h-full;
      background: $bg-white;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 10;
      transition: all $transition-time-xs $transition-fn;
    }
    .category-item {
      width: $w-full;
      padding: $p-1 - 0.2 $p-1;
      cursor: pointer;
      border-bottom: 1px solid $bg-slate;
      &:hover .item-wrap span {
        color: $text-green;
      }
      &:hover .item-child {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
      .item-wrap {
        width: $w-full;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          transition: all $transition-time-sm $transition-fn;
        }
      }
      .item-child {
        width: $w-10 * 2;
        height: $h-full;
        padding: $p-1 0;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 15;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transform-origin: top left;
        transition: transform $transition-time-sm $transition-fn;
        .child-inner {
          padding: $p-1 $p-1;
          cursor: pointer;
          transition: all $transition-time-sm $transition-fn;
          &:hover {
            color: $text-green;
          }
        }
      }
    }
  }
  .banner-carousel {
    height: $h-10 * 3.5;
    padding: $p-1 + 0.5;
    padding-right: 0;
    position: relative;
    &::after {
      content: unset;
      width: $w-full;
      height: $h-5;
      background: $bg-green;
      border-bottom-left-radius: $rounded-full;
      border-bottom-right-radius: $rounded-full;
      position: absolute;
      top: 0;
      left: 0;
      @include respond(mdTablet) {
        content: "";
      }
    }
    .carousel-slide {
      width: $w-full;
      height: $h-full;
      border-radius: $rounded-lg;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    @include respond(mdTablet) {
      padding: 0 $p-1;
      height: $h-10 * 2;
    }
    @include respond(lgPhone) {
      padding: 0 $p-1;
      height: $h-10 * 1.5;
    }
    @include respond(smPhone) {
      padding: 0 $p-1;
      height: $h-10 + 1.5;
    }
  }
  @include respond(lgTablet) {
    padding: 0 $p-1;
  }
  @include respond(mdTablet) {
    padding: 0;
  }
}
